{:deps    {org.clojure/clojure         {:mvn/version "1.11.1"}
           medley/medley               {:mvn/version "1.4.0"}
           net.mikera/core.matrix      {:mvn/version "0.63.0"}
           aysylu/loom                 {:mvn/version "1.0.2"}
           io.github.nextjournal/clerk {:mvn/version "0.12.707"}}
 :paths   ["resources/" "src/"]
 :aliases {:dev       {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
           :test      {:extra-paths ["test"]
                       :extra-deps  {lambdaisland/kaocha           {:mvn/version "1.71.1119"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                                     org.clojure/test.check        {:mvn/version "RELEASE"}}}
           :bench     {:extra-deps {criterium/criterium {:mvn/version "0.4.6"}}}
           :outdated  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "antq.core"]}
           :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
                       :main-opts  ["-m" "clj-kondo.main"]}}}
